# Dependencies
/node_modules
/.pnp
.pnp.js
/package-lock.json
/yarn.lock

# Testing
/coverage

# Next.js
/.next/
/out/
/.swc/

# Production
/build

# Environment variables
.env
.env.*
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local files
.DS_Store
*.pem
Thumbs.db

# Vercel
.vercel

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Backend
/backend/__pycache__/
/backend/venv/
/backend/*.pyc
/backend/**/*.pyc
/backend/**/__pycache__/
/backend/.env

# Media files
/uploads
/public/previews/user-*

# Database
*.sqlite
*.sqlite3
*.db

# Backups
/backups

# Cache
.eslintcache
.npm
.cache
/public/sw.js
/public/workbox-*.js

# Logs
logs
*.log

# Misc
notes.txt
*.backup
*.bak
*.swp